<form [formGroup]="bankForm">
  <div class="row align-items-center no-md-gutters" matAutocompleteOrigin #codeOrigin="matAutocompleteOrigin">
    <div class="col-7 col-md-2 order-1 mat-title m-0 pr-md-0">
      Bank List
    </div>
    <mat-form-field class="col-6 col-md-2 order-3 order-md-2">
      <mat-label>From Date</mat-label>
      <input type="text" matInput formControlName="fromDate" maxlength="14" required placeholder="DD/MM/YYYY"
        mask="00/00/0000" [validation]="false">
      <mat-error *ngIf="fromDate.hasError('required')">
        Enter date
      </mat-error>
      <mat-error *ngIf="fromDate.hasError('errorDateValue')">
        Enter valid date
      </mat-error>
      <mat-error *ngIf="fromDate.hasError('errorDateRange')">
        Enter date in range
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-2 order-4 order-md-3">
      <mat-label>To Date</mat-label>
      <input type="text" matInput formControlName="toDate" maxlength="14" required placeholder="DD/MM/YYYY"
        mask="00/00/0000" [validation]="false" [errorStateMatcher]="dateErrorStateMatcher">
      <mat-error *ngIf="toDate.hasError('required')">
        Enter date
      </mat-error>
      <mat-error *ngIf="toDate.hasError('errorDateValue')">
        Enter valid date
      </mat-error>
      <mat-error *ngIf="toDate.hasError('errorDateRange')">
        Enter date in range
      </mat-error>
      <mat-error *ngIf="bankForm.hasError('errorFromToDate')">
        To date cannot exceed From date
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-1 order-5 order-md-4">
      <mat-label>Code</mat-label>
      <input type="text" matInput formControlName="code" maxlength="10" [matAutocomplete]="autoCode" uppercase
        [matAutocompleteConnectedTo]="codeOrigin" (blur)="validateNSetCode($event.target.value, code, firmName)">
      <mat-error *ngIf="code.hasError('InvalidCode')">
        Enter valid code
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-3 order-6 order-md-5">
      <mat-label>Firm Name</mat-label>
      <input type="text" matInput maxlength="50" tabindex="-1" #firmName readonly>
    </mat-form-field>
    <div class="col-5 col-md-2 order-2 order-md-last text-right">
      <button type="button" mat-mini-fab color="primary" (click)="search()" [disabled]="!bankForm.valid || inProgress"
        matTooltip="Seach">
        <mat-icon>search</mat-icon>
      </button>
      &nbsp;
      <button type="button" mat-mini-fab color="primary" (click)="exportData()" matTooltip="Download List"
        [disabled]="(bankListDS.filteredData.length === 0)">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
    <mat-autocomplete #autoCode="matAutocomplete" [autoActiveFirstOption]="true"
      (optionActivated)="validateNSetCode($event.option?.value, code, firmName)"
      (optionSelected)="validateNSetCode($event.option?.value, code, firmName)">
      <mat-option *ngFor="let option of filteredOption | async;" [value]="option.code">
        {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
    </mat-autocomplete>
  </div>
</form>
<div class="container-cus-fluid mat-elevation-z8">
  <div class="table-cus-responsive">
    <table mat-table [dataSource]="bankListDS" [trackBy]="trackList" matSort>
      <ng-container matColumnDef="SL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          SL
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.SL}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.date}}</td>
      </ng-container>
      <ng-container matColumnDef="fromCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          From Code
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.fromCode}}</td>
      </ng-container>
      <ng-container matColumnDef="toCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          To Code
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.toCode}}</td>
      </ng-container>
      <ng-container matColumnDef="chNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Check No
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.chNo}}</td>
      </ng-container>
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Desc
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.desc}}</td>
      </ng-container>
      <ng-container matColumnDef="receipt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Receipt
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.receipt | number:'.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Payment
        </th>
        <td mat-cell *matCellDef="let bank">{{bank.payment | number:'.2-2'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

      <tr class="mat-row" *matNoDataRow data-export="false" style="text-align: center;">
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length" data-export="false">
          No Data Available
        </td>
      </tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" pageSize="10" showFirstLastButtons></mat-paginator>
</div>
