<form [formGroup]="userPermForm" (ngSubmit)="save()">
  <div class="mat-cus-dialog-title" mat-dialog-title>
    <div>{{username}} - Permissions <span *ngIf="errMsg" class="error">{{errMsg}}</span></div>
    <div mat-dialog-close>
      <button type="button" mat-icon-button isIconButton="true" aria-label="close dialog" tabindex="-1">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <table style="overflow: hidden;">
      <tr>
        <td>Group</td>
        <td>
          <mat-checkbox color="primary" (change)="setGroupAllPermissions($event.checked)" color="primary" [checked]="groupAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createGroup" color="primary" (change)="setGroupPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editGroup" color="primary" (change)="setGroupPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteGroup" color="primary" (change)="setGroupPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListGroup" color="primary" (change)="setGroupPermission()">View List</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Account</td>
        <td>
          <mat-checkbox color="primary" (change)="setAccountAllPermissions($event.checked)" color="primary" [checked]="accountAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createAccount" color="primary" (change)="setAccountPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editAccount" color="primary" (change)="setAccountPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteAccount" color="primary" (change)="setAccountPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListAccount" color="primary" (change)="setAccountPermission()">View List</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Inventory</td>
        <td>
          <mat-checkbox color="primary" (change)="setInventoryAllPermissions($event.checked)" color="primary" [checked]="inventoryAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createInventory" color="primary" (change)="setInventoryPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editInventory" color="primary" (change)="setInventoryPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteInventory" color="primary" (change)="setInventoryPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListInventory" color="primary" (change)="setInventoryPermission()">View List</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Cash/Bank</td>
        <td>
          <mat-checkbox color="primary" (change)="setBankAllPermissions($event.checked)" color="primary" [checked]="bankAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createBank" color="primary" (change)="setBankPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editBank" color="primary" (change)="setBankPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteBank" color="primary" (change)="setBankPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListBank" color="primary" (change)="setBankPermission()">View List</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>General Voucher</td>
        <td>
          <mat-checkbox color="primary" (change)="setGenVouchAllPermissions($event.checked)" color="primary" [checked]="genVochAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createGenVoucher" color="primary" (change)="setGenVouchPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editGenVoucher" color="primary" (change)="setGenVouchPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteGenVoucher" color="primary" (change)="setGenVouchPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListGenVoucher" color="primary" (change)="setGenVouchPermission()">View List</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>GST</td>
        <td>
          <mat-checkbox formControlName="generateReports" color="primary">Generate</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Files</td>
        <td>
          <mat-checkbox formControlName="uploadFile" color="primary">Upload</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>User</td>
        <td>
          <mat-checkbox color="primary" (change)="setUserAllPermissions($event.checked)" color="primary" [checked]="UserAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createUser" color="primary" (change)="setUserPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editUser" color="primary" (change)="setUserPermission()">Edit</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="deleteUser" color="primary" (change)="setUserPermission()">Delete</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListUser" color="primary" (change)="setUserPermission()">View List</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="editUserPersmissions" color="primary" (change)="setUserPermission()">Edit Permissions</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Product</td>
        <td>
          <mat-checkbox color="primary" (change)="setProductAllPermissions($event.checked)" color="primary" [checked]="ProductAllCheck">All</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="createProduct" color="primary" (change)="setProductPermission()">Create</mat-checkbox>
        </td>
        <td>
          <mat-checkbox formControlName="viewListProduct" color="primary" (change)="setProductPermission()">List</mat-checkbox>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-stroked-button mat-dialog-close color="primary">Close</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!userPermForm.valid || inProgress">SAVE&nbsp;
      <mat-icon>save</mat-icon></button>
  </div>
</form>
