<form [formGroup]="inventorySrchForm">
  <div class="row align-items-center no-md-gutters" matAutocompleteOrigin #codeOrigin="matAutocompleteOrigin">
    <div class="col-7 col-md-2 order-1 mat-title m-0 pr-md-0">
      Inventory List
    </div>
    <mat-form-field class="col-12 col-md-1 order-3 order-md-2 pl-md-0">
      <mat-label>Type</mat-label>
      <mat-select formControlName="invntryType" required>
        <mat-option [value]="inventoryType.Sale">Sale</mat-option>
        <mat-option [value]="inventoryType.Purchase">Purchase</mat-option>
        <mat-option [value]="inventoryType.SaleReturn">Sale Return</mat-option>
        <mat-option [value]="inventoryType.PurchaseReturn">Purchase Return</mat-option>
        <mat-option [value]="inventoryType.Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-2 order-4 order-md-3 pl-md-0">
      <mat-label>From Date</mat-label>
      <input type="text" matInput formControlName="fromDate" maxlength="14" required placeholder="DD/MM/YYYY"
        mask="00/00/0000" [validation]="false">
      <mat-error *ngIf="fromDate.hasError('required')">
        Enter date
      </mat-error>
      <mat-error *ngIf="fromDate.hasError('errorDateValue')">
        Enter valid date
      </mat-error>
      <mat-error *ngIf="fromDate.hasError('errorDateRange')">
        Enter date in range
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-2 order-5 order-md-4 pl-md-0">
      <mat-label>To Date</mat-label>
      <input type="text" matInput formControlName="toDate" maxlength="14" required placeholder="DD/MM/YYYY"
        mask="00/00/0000" [validation]="false" [errorStateMatcher]="dateErrorStateMatcher">
      <mat-error *ngIf="toDate.hasError('required')">
        Enter date
      </mat-error>
      <mat-error *ngIf="toDate.hasError('errorDateValue')">
        Enter valid date
      </mat-error>
      <mat-error *ngIf="toDate.hasError('errorDateRange')">
        Enter date in range
      </mat-error>
      <mat-error *ngIf="inventorySrchForm.hasError('errorFromToDate')">
        To date cannot exceed From date
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-3 col-md-1 order-6 order-md-5 pl-md-0">
      <mat-label>Code</mat-label>
      <input type="text" matInput formControlName="code" maxlength="10" [matAutocomplete]="autoCode" uppercase
        [matAutocompleteConnectedTo]="codeOrigin" (blur)="validateNSetCode($event.target.value, code, firmName)">
      <mat-error *ngIf="code.hasError('InvalidCode')">
        Enter valid code
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-9 col-md-2 order-7 order-md-6 px-md-0">
      <mat-label>Firm Name</mat-label>
      <input type="text" matInput maxlength="50" tabindex="-1" #firmName readonly
        [disabled]="inventorySrchForm.disabled">
    </mat-form-field>
    <div class="col-5 col-md-2 order-2 order-md-last text-right pl-md-0">
      <button type="button" mat-mini-fab color="primary" (click)="search()"
        [disabled]="!inventorySrchForm.valid || inProgress" matTooltip="Search">
        <mat-icon>search</mat-icon>
      </button>
      &nbsp;
      <button type="button" mat-mini-fab color="primary" (click)="exportData()"
        [disabled]="(inventoryListDS.filteredData.length === 0)" matTooltip="Export List">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
    <mat-autocomplete #autoCode="matAutocomplete" [autoActiveFirstOption]="true"
      (optionActivated)="validateNSetCode($event.option?.value, code, firmName)"
      (optionSelected)="validateNSetCode($event.option?.value, code, firmName)">
      <mat-option *ngFor="let option of filteredOption | async;" [value]="option.code">
        {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
<div class="container-cus-fluid mat-elevation-z8">
  <div class="table-cus-responsive">
    <table mat-table [dataSource]="inventoryListDS" [trackBy]="trackList" matSort>
      <ng-container matColumnDef="invntryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Type
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.invntryName}}</td>
      </ng-container>
      <ng-container matColumnDef="SL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          SL
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.SL}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.date}}</td>
      </ng-container>
      <ng-container matColumnDef="fromCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          From Code
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.fromCode}}</td>
      </ng-container>
      <ng-container matColumnDef="toCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          To Code
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.toCode}}</td>
      </ng-container>
      <ng-container matColumnDef="CashRCreditName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Cash/Credit
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.CashRCreditName}}</td>
      </ng-container>
      <ng-container matColumnDef="invcNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Invoice Number
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.invcNo}}</td>
      </ng-container>
      <ng-container matColumnDef="invcDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Invoice Date
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.invcDate}}</td>
      </ng-container>
      <ng-container matColumnDef="totalAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Taxable Amount
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.totalAmt | number:'.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="totalPerAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          GST Amount
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.totalPerAmt | number:'.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="roundingAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Rounding Amount
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.roundingAmt | number:'.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="totalInvcAmt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Invoice Amount
        </th>
        <td mat-cell *matCellDef="let inventory">{{inventory.totalInvcAmt | number:'.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="oprts">
        <th mat-header-cell *matHeaderCellDef data-export="false">
          Operations
        </th>
        <td mat-cell *matCellDef="let inventory" data-export="false">
          <button type="button" mat-icon-button (click)="edit(inventory)" matTooltip="Edit"
            *ngIf="userPersmissions.editInventory">
            <mat-icon>edit</mat-icon>
          </button>
          <button type="button" mat-icon-button (click)="delete(inventory)" matTooltip="Delete"
            *ngIf="userPersmissions.deleteInventory">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

      <tr class="mat-row" *matNoDataRow data-export="false" style="text-align: center;">
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length" data-export="false">
          No Data Available
        </td>
      </tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" pageSize="10" showFirstLastButtons></mat-paginator>
</div>
