<!-- <div style="position: relative; height: 100%; width: 100%;"> -->
  <form [formGroup]="bankForm">
    <div class="row align-items-center" matAutocompleteOrigin #bankCodeOrigin="matAutocompleteOrigin">
      <div class="col-6 col-md-2 order-1 mat-title m-0">
        Bank
      </div>
      <mat-form-field class="col-12 col-md-2 order-3 order-md-2">
        <mat-label>Date</mat-label>
        <input type="text" matInput formControlName="bankDate" maxlength="14" required placeholder="DD/MM/YYYY"
          mask="00/00/0000" [validation]="false">
        <mat-error *ngIf="bankDate.hasError('required')">
          Enter date
        </mat-error>
        <mat-error *ngIf="bankDate.hasError('errorDateValue')">
          Enter valid date
        </mat-error>
        <mat-error *ngIf="bankDate.hasError('errorDateRange')">
          Enter date in range
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-4 col-md-2 order-4 order-md-3">
        <mat-label>Code</mat-label>
        <input type="text" matInput formControlName="bankCode" maxlength="10" [matAutocomplete]="autoCode" required
          uppercase [matAutocompleteConnectedTo]="bankCodeOrigin"
          (blur)="validateNSetCode($event.target.value, bankCode, bankfirmName)">
        <mat-error *ngIf="bankCode.hasError('InvalidCode')">
          Enter valid code
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-8 col-md-4 order-5 order-md-4">
        <mat-label>Firm Name</mat-label>
        <input type="text" matInput maxlength="50" tabindex="-1" id="bankfirmName" name="bankfirmName" #bankfirmName
          readonly [disabled]="bankForm.disabled">
      </mat-form-field>
      <div class="col-6 col-md-2 order-2 order-md-last text-right">
        <button type="button" mat-mini-fab color="primary" *ngIf="!showList" (click)="search()"
          [disabled]="!bankForm.valid || inProgress" matTooltip="Search">
          <mat-icon>search</mat-icon>
        </button>
        <button type="button" mat-raised-button color="primary" *ngIf="showList" (click)="hideList()">
          Change Code
        </button>
      </div>
      <mat-autocomplete #autoCode="matAutocomplete" [autoActiveFirstOption]="true"
        (optionActivated)="validateNSetCode($event.option?.value, bankCode, bankfirmName)"
        (optionSelected)="validateNSetCode($event.option?.value, bankCode, bankfirmName)">
        <mat-option *ngFor="let option of filteredOptions[0] | async;" [value]="option.code">
          {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
      </mat-autocomplete>
    </div>
  </form>
  <div *ngIf="showList">
    <div class="mb-2">
      <form [formGroup]="bankDtlsForm" (ngSubmit)="save()" #dtlsForm>
      <fieldset class="container-fluid border border-dark">
          <div class="row" matAutocompleteOrigin #codeOrigin="matAutocompleteOrigin">
            <mat-form-field class="cus-readonly col-1 p-md-0" >
              <mat-label>SL</mat-label>
              <input type="text" matInput formControlName="SL" maxlength="50" readonly required>
              <mat-error *ngIf="SL.hasError('required') || SL.hasError('alreadyExists')">
                {{SL.hasError('alreadyExists') ? 'SL already exists' : 'Enter SL'}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-1 pr-md-0">
              <mat-label>To Code</mat-label>
              <input type="text" matInput formControlName="toCode" #toCodeElement maxlength="10"
                [matAutocomplete]="autoToCode" required uppercase [matAutocompleteConnectedTo]="codeOrigin"
                (blur)="validateNSetCode($event.target.value, bankDtlsForm.get('toCode'), tofirmName)"
                [errorStateMatcher]="accCodeErrorStateMatcher">
              <mat-error *ngIf="toCode.hasError('InvalidCode')">
                Enter valid code
              </mat-error>
              <mat-error *ngIf="toCode.hasError('CodeNotAllowed') || bankDtlsForm.hasError('errorSameAccountCode')">
                {{ toCode.hasError('CodeNotAllowed') ? 'Cash not accepted' : 'From and To code cannot be same' }}
              </mat-error>
            </mat-form-field>
            <mat-form-field  class="col-2 pr-md-0">
              <mat-label>To Firm Name</mat-label>
              <input type="text" matInput maxlength="50" tabindex="-1" id="tofirmName" name="tofirmName" #tofirmName
                readonly>
            </mat-form-field>
            <mat-form-field class="col-1 pr-md-0">
              <mat-label>Check No</mat-label>
              <input type="text" matInput formControlName="chNo" maxlength="10">
              <mat-hint align="end">
                {{chNo.value?.length || 0}}/10
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="col-2 pr-md-0">
              <mat-label>Description</mat-label>
              <input type="text" matInput formControlName="desc" maxlength="50" required>
              <mat-hint align="end">
                {{desc.value?.length || 0}}/50
              </mat-hint>
              <mat-error *ngIf="desc.hasError('required')">
                Enter description
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-2 pr-md-0">
              <mat-label>Payment</mat-label>
              <input type="text" matInput formControlName="payment" maxlength="15"
                [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="rcptAmt.value <= 0"
                [attr.tabindex]="!(rcptAmt.value <= 0) ? -1 : ''" (input)="resetValue(bankDtlsForm.get('receipt'))"
                #payAmt>
              <mat-error *ngIf="payment.hasError('required')">
                Enter payment
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-2 pr-md-0">
              <mat-label>Reciept</mat-label>
              <input type="text" matInput formControlName="receipt" maxlength="15"
                [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="payAmt.value <= 0"
                [attr.tabindex]="!(payAmt.value <= 0) ? -1 : ''" (input)="resetValue(bankDtlsForm.get('payment'))"
                #rcptAmt>
              <mat-error *ngIf="receipt.hasError('required')">
                Enter receipt
              </mat-error>
            </mat-form-field>
            <div class="col-1 pt-2">
              <button type="submit" class="w-100" mat-raised-button color="primary" [disabled]="!bankDtlsForm.valid || inProgress">Save</button>
            </div>
            <mat-autocomplete #autoToCode="matAutocomplete" [autoActiveFirstOption]="true"
              (optionActivated)="validateNSetCode($event.option?.value, bankDtlsForm.get('toCode'), tofirmName)"
              (optionSelected)="validateNSetCode($event.option?.value, bankDtlsForm.get('toCode'), tofirmName)">
              <mat-option *ngFor="let option of filteredOptions[1] | async;" [value]="option.code">
                {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
            </mat-autocomplete>
          </div>
      </fieldset>
    </form>
    </div>
    <div class="container-cus-fluid mat-elevation-z8" style="max-height: 375px;">
      <div class="table-cus-responsive">
        <table mat-table [dataSource]="bankListDS" [trackBy]="trackList" matSort>
          <ng-container matColumnDef="SL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              SL
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.SL}}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Date
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.date}}</td>
          </ng-container>
          <ng-container matColumnDef="fromCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              From Code
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.fromCode}}</td>
          </ng-container>
          <ng-container matColumnDef="toCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              To Code
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.toCode}}</td>
          </ng-container>
          <ng-container matColumnDef="chNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Check No
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.chNo}}</td>
          </ng-container>
          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Desc
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.desc}}</td>
          </ng-container>
          <ng-container matColumnDef="receipt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Receipt
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.receipt | number:'.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Payment
            </th>
            <td mat-cell *matCellDef="let bank">{{bank.payment | number:'.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="oprts">
            <th mat-header-cell *matHeaderCellDef>
              Operations
            </th>
            <td mat-cell *matCellDef="let bank">
              <button type="button" mat-icon-button (click)="edit(bank)" matTooltip="Edit"
                *ngIf="userPersmissions.editBank">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button (click)="delete(bank)" matTooltip="Delete"
                *ngIf="userPersmissions.deleteBank">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

          <tr class="mat-row" *matNoDataRow data-export="false" style="text-align: center;">
            <td class="mat-cell" [attr.colspan]="columnsToDisplay.length" data-export="false">
              No Data Available
            </td>
          </tr>

        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="5" showFirstLastButtons></mat-paginator>
    </div>
  </div>
<!-- </div> -->
